apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "app.fullname" . }}
  labels:
    app: {{ template "app.name" . }}
    chart: {{ template "app.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  auth0RedirectUri: {{ .Values.auth0.redirectUri | quote }}
  apiClientWs: {{ .Values.api.client.ws | quote }}
  apiClientHttp: {{ .Values.api.client.http | quote }}
